<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/generaladmin.html :: header (title = 'Doctores')}"></head>
<body class="sb-nav-fixed">
<div th:insert="~{layout/generaladmin.html :: navar1}"></div>
<div th:insert="~{layout/generaladmin.html :: navar2}"></div>

<br><br>
<div class="container">
    <div class="row">


        <div class="col-md-12">
            <h3>Lista de Doctores</h3>
            <div class="table-responsive">


                <table id="mytable" class="table table-bordred table-striped">

                    <thead>
                    <th>Doctor</th>
                    <th>DNI</th>
                    <th>Correo</th>
                    <th>Distrito</th>
                    </thead>
                    <tbody>

                    <tr th:each="doctor: ${listaDoctor}">
                        <td class=<%=color%><p style="font-size: 18px;" th:text="${doctor.nombres + ' ' + doctor.apellidos}"></p></td>
                        <td class=<%=color%><p style="font-size: 18px;" th:text="${doctor.dni}"></p></td>
                        <td class=<%=color%><p style="font-size: 18px;" th:text="${doctor.correo}"></p></td>
                        <td class=<%=color%><p style="font-size: 18px;" th:text="${doctor.distrito.nombre}"></p></td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<br><br><br>
<div class="fixed-bottom">
    <footer style="background-color: rgb(58, 65, 73); width: 100%;">
        <div class="mx-auto p-2" style="display: flex; align-items: center; justify-content: center;">
            <div style="font-family: Arial; margin-left: 10px; color: white;">
                <h7>Derechos de autor Pildo Pharmacy S.A.</h7>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
</body>
</html>