<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/generaladmin.html :: header (title = 'Medicamentos')}"></head>
<body class="sb-nav-fixed">
<div th:insert="~{layout/generaladmin.html :: navar1}"></div>
<div th:insert="~{layout/generaladmin.html :: navar2}"></div>

<br><br>

<div class="container">
    <div class="row">


        <div class="col-md-12">
            <h3>Lista de Medicamentos</h3>
            <br>
            <div class="table-responsive">


                <table id="mytable" class="table table-bordred table-striped">

                    <thead>
                    <th>#</th>
                    <th>Medicamento</th>
                    <th>Descripción</th>
                    <th>Fecha de ingreso</th>
                    <th>Categoría</th>
                    <th>Stock</th>
                    <th>Precio</th>
                    </thead>
                    <tbody>

                    <tr class=contenido th:each="medicamento, info: ${listMed}">
                        <td class=<%=color%><p style="font-size: 18px;" th:text="${info.index} + 1"></p></td>
                        <td class=<%=color%><p style="font-size: 18px;" th:text="${medicamento.nombre}"></p></td>
                        <td class=<%=color%><p style="font-size: 18px;" th:text="${medicamento.descripcion}"></p></td>
                        <td class=<%=color%><p style="font-size: 18px;" th:text="${medicamento.fecha_ingreso}"></p></td>
                        <td class=<%=color%><p style="font-size: 18px;" th:text="${medicamento.categoria}"></p></td>
                        <td class=<%=color%><p style="font-size: 18px;" th:text="${medicamento.inventario}"></p></td>
                        <td class=<%=color%><p style="font-size: 18px;" th:text="${medicamento.precio_unidad}"></p></td>
                    </tr>

                    </tbody>
                </table>
                <div class="pagination  d-flex justify-content-center" style="padding: 50px">
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Script de paginacion-->
<script type="text/javascript">
    function getPageList(totalPages, page, maxLength) {
        function range(start, end) {
            return Array.from(Array(end - start + 1), (_, i) => i + start);
        }

        var sideWidth = maxLength < 9 ? 1 : 2;
        var leftWidth = (maxLength - sideWidth * 2 - 3) >> 1;
        var rightWidth = (maxLength - sideWidth * 2 - 3) >> 1;

        if (totalPages <= maxLength) {
            return range(1, totalPages);
        }

        if (page <= maxLength - sideWidth - 1 - rightWidth) {
            return range(1, maxLength - sideWidth - 1).concat(0, range(totalPages - sideWidth + 1, totalPages));
        }

        if (page >= totalPages - sideWidth - 1 - rightWidth) {
            return range(1, sideWidth).concat(0, range(totalPages - sideWidth - 1 - rightWidth - leftWidth, totalPages));
        }
        return range(1, sideWidth).concat(0, range(page - leftWidth, page + rightWidth), 0, range(totalPages - sideWidth + 1, totalPages));
    }

    $(function () {
        var numberOfItems = $(".contenido").length;
        var limitPerPage = 5; //How many card items visible per a page
        var totalPages = Math.ceil(numberOfItems / limitPerPage);
        var paginationSize = 5; //How many page elements visible in the pagination
        var currentPage;

        function showPage(whichPage) {
            if (whichPage < 1 || whichPage > totalPages)
                return false;

            currentPage = whichPage;

            $(".contenido").hide().slice((currentPage - 1) * limitPerPage, currentPage * limitPerPage).show();

            $(".pagination li").slice(1, -1).remove();

            getPageList(totalPages, currentPage, paginationSize).forEach(item => {
                $("<li>").addClass("page-item").addClass(item ? "current-page" : "dots")
                    .toggleClass("active", item === currentPage).append($("<a>").addClass("page-link")
                    .attr({href: "javascript:void(0)"}).text(item || "...")).insertBefore(".next-page");
            });

            $(".previous-page").toggleClass("disable", currentPage === 1);
            $(".next-page").toggleClass("disable", currentPage === totalPages);
            return true;
        }

        $(".pagination").append(
            $("<li>").addClass("page-item").addClass("previous-page").append($("<a>").addClass("page-link").attr({href: "javascript:void(0)"}).text("🢀")),
            $("<li>").addClass("page-item").addClass("next-page").append($("<a>").addClass("page-link").attr({href: "javascript:void(0)"}).text("🢂"))
        );

        $(".contenido").show();
        showPage(1);

        $(document).on("click", ".pagination li.current-page:not(.active)", function () {
            return showPage(+$(this).text());
        });

        $(".next-page").on("click", function () {
            return showPage(currentPage + 1);
        });

        $(".previous-page").on("click", function () {
            return showPage(currentPage - 1);
        });
    });
</script>

<br><br><br>
<div class="fixed-bottom">
    <footer style="background-color: rgb(58, 65, 73); width: 100%;">
        <div class="mx-auto p-2" style="display: flex; align-items: center; justify-content: center;">
            <div style="font-family: Arial; margin-left: 10px; color: white;">
                <h7>Derechos de autor Pildo Pharmacy S.A.</h7>
            </div>
        </div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>

</body>
</html>