<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <title>Pildo Pharm</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/superadmin/img/logo.png}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <link th:href="@{/assets/superadmin/css/stylesSide.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyCSkZALDDeauhgE9WHeS52ssPOo5xRLZoY&libraries=places"></script>
    <style>
        /* Estilos personalizados para los botones */
        .boton_barbaro {
            color: white;
            background-color: red;
            border-color: red;
            margin-top: 16px;
            margin-bottom: 16px;
        }

        .boton_barbaro:hover {
            background-color: #990000;
            border-color: #990000;
        }

        .botoncito_gozu {
            color: white;
            background-color: black;
            border-color: black;
            margin-top: 32px;
        }

        .botoncito_gozu:hover {
            background-color: #333;
            border-color: #333;
        }

        .boton-primario {
            background-color: #2bd831;
            border-color: #2bd831;
        }

        .boton-primario:hover {
            background-color: rgb(19, 164, 24);
            border-color: rgb(19, 164, 24);
        }
    </style>
</head>
<body class="sb-nav-fixed">
            <div th:replace="layout/PlantillaSuperAdmin :: navegacion"></div>

            <!-- TRABAJAR AQUI -->

            <div class="container" >
                <div class="row">
                    <div class="col-lg-12">
                        <div style="height: 40px;"></div> <!-- Espacio de separación -->
                        <h2 class="mb-4">EDITAR DATOS DEL FARMACISTA</h2>
                        <form class="row g-3" method="post" th:action="@{'/superadmin/Guardar_Usuario'}" th:object="${usuario}">
                            <input th:value="${usuario.getId()}" name="id" type="hidden" />
                            <input th:value="${6}" name="seguro.id" type="hidden" />
                            <input th:value="${usuario.getEstado()}" name="estado" type="hidden" />
                            <input th:value="${3}" name="rol.id" type="hidden" />
                            <!--<input th:value="${usuario.getFecha_creacion()}" name="fecha_creacion" type="hidden" />-->
                            <input th:value="${usuario.getContrasena()}" name="contrasena" type="hidden" />
                            <input th:value="${usuario.getEstado_solicitud()}" name="estado_solicitud" type="hidden" />
                            <input th:value="${usuario.getMotivo_rechazo()}" name="motivo_rechazo" type="hidden" />
                            <input th:value="${usuario.getBorrado_logico()}" name="borrado_logico" type="hidden" />
                            <input th:value="${'No necesaria para un Farmacista'}" name="direccion" type="hidden" />
                            <input th:value="${6}" name="seguro.id" type="hidden" />
                            <input th:value="${usuario.getPunto()}" name="punto" type="hidden" />

                            <div class="col-md-6">
                                <label class="form-label">Nombres</label>
                                <span class="form-control" type="text" contenteditable="false" th:text="${usuario.getNombres()}">hola</span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Apellidos</label>
                                <span class="form-control" type="text" contenteditable="false" th:text="${usuario.getApellidos()}">hola</span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Correo Electrónico</label>
                                <span class="form-control" type="text" contenteditable="false" th:text="${usuario.getCorreo()}">hola</span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">DNI</label>
                                <span class="form-control" type="text" contenteditable="false" th:text="${usuario.getDni}">hola</span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Código de Colegiatura</label>
                                <span class="form-control" type="text" contenteditable="false" th:text="${usuario.getCodigo_colegio().getNombre()}">hola</span>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Distrito</label>
                                <span class="form-control" type="text" contenteditable="false" th:text="${usuario.getDistrito().getNombre()}">hola</span>
                            </div>
                            <!--
                            <div class="col-md-6">
                                <label class="form-label">Nombres</label>
                                <input type="text" class="form-control" th:field="*{nombres}"
                                       th:classappend="${#fields.hasErrors('nombres')?'is-invalid':''}"/>
                                <div class="invalid-feedback"
                                     th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Apellidos</label>
                                <input type="text" class="form-control" th:field="*{apellidos}"
                                       th:classappend="${#fields.hasErrors('apellidos')?'is-invalid':''}"/>
                                <div class="invalid-feedback"
                                     th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Correo Electrónico</label>
                                <input type="text" class="form-control" th:field="*{correo}"
                                       th:classappend="${#fields.hasErrors('correo')?'is-invalid':''}"/>
                                <div class="invalid-feedback"
                                     th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="dni">DNI</label>
                                <input type="text" class="form-control" th:field="*{dni}"/>
                                <div class="text-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">Error</div>
                            </div>
                            <div class="col-6">
                                <label class="form-label">Código de Colegiatura</label>
                                <select class="form-select" aria-label="Default select example" th:field="*{codigo_colegiatura}">
                                    <option th:value="${'MED001'}">MED001</option>
                                    <option th:value="${'MED002'}">MED002</option>
                                    <option th:value="${'MED003'}">MED003</option>
                                    <option th:value="${'MED004'}">MED004</option>
                                    <option th:value="${'MED005'}">MED005</option>
                                    <option th:value="${'MED006'}">MED006</option>
                                    <option th:value="${'MED007'}">MED007</option>
                                    <option th:value="${'MED008'}">MED008</option>
                                    <option th:value="${'MED009'}">MED009</option>
                                    <option th:value="${'MED010'}">MED010</option>
                                    Agrega más opciones según sea necesario
                                </select>
                            </div>
                            <div class="col-6">
                                <label class="form-label">Distrito</label>
                                <select class="form-select" name="distrito" th:field="*{distrito}">
                                    <option th:each="distrito : ${listaDistritos}" th:value="${distrito.id}"
                                            th:text="${distrito.getNombre()}"></option>
                                </select>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary boton-primario">EDITAR</button>
                            </div>-->
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="90%" cellspacing="0">
                            <thead>
                            <h3 class="mt-4">Asignar Sede</h3>
                            </thead>
                            <tbody>
                            <tr class="contenido" th:each="Sede, info: ${ListaSedes}">
                                <td class="<%=color%>">
                                    <p style="font-size: 18px;" th:text="${Sede.getNombre()}">SEDE N°1</p>
                                </td>

                                <div th:if="${ListaIndicador.get(Sede.getId()-1) == 'Asignado'}">
                                    <td>
                                        <div class="card-footer pt-1 br-3 border-top-0">
                                            <div class="text-center">
                                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#crearListaModal">
                                                    <i class=""></i>Asignar
                                                </button>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="card-footer pt-1 br-3 border-top-0">
                                            <div class="text-center">
                                                <a th:href="@{'/superadmin/No_Asignar_Sede?id=' + ${usuario.getId()} + '&idsede=' + ${Sede.getId()}}"
                                                   class="btn btn-danger">
                                                    <i class=""></i> No Asignar
                                                </a>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <p style="font-size: 18px;" class="text-center">Asignado</p>
                                    </td>
                                </div>

                                <div th:if="${ListaIndicador.get(Sede.getId()-1) == 'Disponible'}">
                                    <td>
                                        <div class="card-footer pt-1 br-3 border-top-0">
                                            <div class="text-center">
                                                <a th:href="@{'/superadmin/Asignar_Sede?id=' + ${usuario.getId()} + '&idsede=' + ${Sede.getId()}}" class="btn btn-success">
                                                    <i class=""></i> Asignar
                                                </a>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="card-footer pt-1 br-3 border-top-0">
                                            <div class="text-center">
                                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#crearListaModal">
                                                    <i class=""></i>No asignar
                                                </button>
                                            </div>
                                            <!-- Modal -->
                                        </div>
                                    </td>

                                    <td>
                                        <p style="font-size: 18px;" class="text-center">Disponible Para Asignar</p>
                                    </td>
                                </div>

                                <div th:if="${ListaIndicador.get(Sede.getId()-1) == 'NoDisponible'}">
                                    <td>
                                        <div class="card-footer pt-1 br-3 border-top-0">
                                            <div class="text-center">
                                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#crearListaModal">
                                                    <i class=""></i>Asignar
                                                </button>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="card-footer pt-1 br-3 border-top-0">
                                            <div class="text-center">
                                                <a class="btn btn-secondary">
                                                    <i class=""></i> No Asignar
                                                </a>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <p style="font-size: 18px;" class="text-center">No Disponible, Sede Ocupada</p>
                                    </td>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                        <div class="pagination  d-flex justify-content-center" style="padding: 50px">
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="90%" cellspacing="0">
                                    <thead>
                                    <h3 class="mt-4">Definir Estado</h3>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="card-footer pt-1 br-3 border-top-0" th:if="${usuario.getEstado() == 0}">
                                                <div class="text-center">
                                                    <a th:href="@{'/superadmin/Pasar_Activo'+ '?id=' + ${usuario.getId()}}" class="btn btn-success">
                                                        <i class=""></i> Pasar a Activo
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card-footer pt-1 br-3 border-top-0" th:if="${usuario.getEstado() == 1}">
                                                <div class="text-center">
                                                    <a class="btn btn-secondary">
                                                        <i class=""></i> Pasar a Activo
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="card-footer pt-1 br-3 border-top-0" th:if="${usuario.getEstado() == 0}">
                                                <div class="text-center">
                                                    <a class="btn btn-secondary">
                                                        <i class=""></i> Pasar a Inactivo
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card-footer pt-1 br-3 border-top-0" th:if="${usuario.getEstado() == 1}">
                                                <div class="text-center">
                                                    <a th:href="@{'/superadmin/Pasar_Inactivo'+ '?id=' + ${usuario.getId()}}" class="btn btn-danger">
                                                        <i class=""></i> Pasar a Inactivo
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <div class="card-footer pt-1 br-3 border-top-0" th:if="${usuario.getEstado() == 0}">
                                            <td class="text-center"><p style="font-size: 18px;">Estado Actual Inactivo</p></td>
                                        </div>
                                        <div class="card-footer pt-1 br-3 border-top-0" th:if="${usuario.getEstado() == 1}">
                                            <td class="text-center"><p style="font-size: 18px;">Estado Actual Activo</p></td>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                                <div style="display: inline-block; width: 20px;"></div>
                                <div class="col-12 text-center">
                                    <button onclick="window.location.href='/superadmin/Vista_Principal'" type="button" class="btn btn-warning">Retornar a la Página Principal</button>
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
    <script type="text/javascript">
        function getPageList(totalPages, page, maxLength) {
            function range(start, end) {
                return Array.from(Array(end - start + 1), (_, i) => i + start);
            }

            var sideWidth = maxLength < 9 ? 1 : 2;
            var leftWidth = (maxLength - sideWidth * 2 - 3) >> 1;
            var rightWidth = (maxLength - sideWidth * 2 - 3) >> 1;

            if (totalPages <= maxLength) {
                return range(1, totalPages);
            }

            if (page <= maxLength - sideWidth - 1 - rightWidth) {
                return range(1, maxLength - sideWidth - 1).concat(0, range(totalPages - sideWidth + 1, totalPages));
            }

            if (page >= totalPages - sideWidth - 1 - rightWidth) {
                return range(1, sideWidth).concat(0, range(totalPages - sideWidth - 1 - rightWidth - leftWidth, totalPages));
            }
            return range(1, sideWidth).concat(0, range(page - leftWidth, page + rightWidth), 0, range(totalPages - sideWidth + 1, totalPages));
        }

        $(function () {
            var numberOfItems = $(".contenido").length;
            var limitPerPage = 5; //How many card items visible per a page
            var totalPages = Math.ceil(numberOfItems / limitPerPage);
            var paginationSize = 5; //How many page elements visible in the pagination
            var currentPage;

            function showPage(whichPage) {
                if (whichPage < 1 || whichPage > totalPages) return false;

                currentPage = whichPage;

                $(".contenido").hide().slice((currentPage - 1) * limitPerPage, currentPage * limitPerPage).show();

                $(".pagination li").slice(1, -1).remove();

                getPageList(totalPages, currentPage, paginationSize).forEach(item => {
                    $("<li>").addClass("page-item").addClass(item ? "current-page" : "dots")
                        .toggleClass("active", item === currentPage).append($("<a>").addClass("page-link")
                        .attr({href: "javascript:void(0)"}).text(item || "...")).insertBefore(".next-page");
                });

                $(".previous-page").toggleClass("disable", currentPage === 1);
                $(".next-page").toggleClass("disable", currentPage === totalPages);
                return true;
            }

            $(".pagination").append(
                $("<li>").addClass("page-item").addClass("previous-page").append($("<a>").addClass("page-link").attr({href: "javascript:void(0)"}).text("Prev")),
                $("<li>").addClass("page-item").addClass("next-page").append($("<a>").addClass("page-link").attr({href: "javascript:void(0)"}).text("Next"))
            );

            $(".contenido").show();
            showPage(1);

            $(document).on("click", ".pagination li.current-page:not(.active)", function () {
                return showPage(+$(this).text());
            });

            $(".next-page").on("click", function () {
                return showPage(currentPage + 1);
            });

            $(".previous-page").on("click", function () {
                return showPage(currentPage - 1);
            });
        });
    </script>
    <!-- ************* -->
    <footer style="background-color: rgba(11, 99, 111, 0.79); width: 100%;">
        <div class="mx-auto p-2" style="display: flex; align-items: center; justify-content: center;">
            <div style="font-family: Arial, 5px; margin-left: 10px; color: white;">
                <h7>Derechos de autor Pildo Pharmacy S.A.</h7>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>
</html>